<div class="row">
    <center>
        <div class="well well-small well-radius span3" >
            <h4>My Lists  <small><a href="#/lists/new">  create a new list</a></small></h4> 
        </div>
    </center>
</div>
<div>
     <h6><small>MY LISTS</small></h6>
     <hr>
     <ul id="lists" class="lists" >
        <% _.each(this.model.models, function (list) { %>
            <li>
                <h5>
                    <a href="#/lists/<%= list.get('id') %>/items"><%= list.get('name') %></a>
                    <small> - <%= list.get('open_items') %> left</small>
                </h5>
            </li>
        <% }); %>
     </ul>
</div>