<div class="row">
    <center>
        <div class="well well-small well-radius span2" >
            <h4><a href="#/">My Lists</a></h4>
        </div>
    </center>
</div>

<div class="row" >
    <form name="form-list" id="form-list" action="#">
        <div>
            <label><h5>Name your new list <small>(Ex.:"Learn Backbonejs")</small></h5></label>
            <input type="text" id="name" class="span5" required >
        </div>
        <div>
            <button type="submit" class="btn btn-primary btn-mini btn-radius">Create this list</button> or 
        <a href="#/">Cancel</a>
        </div>
    </form>
</div>