<div class="row">
	<center>
		<div class="well well-small well-radius span3" >
			<h4><a href="#/">My Lists</a> <small><b>this list:</b> <a href="#/lists/{{list.id}}/edit">edit</a></small></h4>
		</div>
	</center>
</div>

<h4>{{list.name}}</h4>

<div class="row" >
	<div class="span7">
		<ul class="unstyled">
			<li ng-repeat="item in list.items | filter:false">
				<input type="checkbox" ng-model="item.done" ng-click="update_item()">
				<span class="done-{{item.done}}">{{item.name}}</span>
			</li>
		</ul>
	</div>
</div>
<div class="row" >
	<div class="span7" ng-hide="state_add_new_item">
		<button class="btn btn-link" ng-click="state_open()">Add another item</button></p>
	</div>
	<div class="span7" ng-show="state_add_new_item">
		<form name="item">
			<input type="text" name="nameItem" ng-model="nameItem" class="span5" placeholder="name of new item" required>
			<p><button ng-click="add_item()"  ng-disabled="isClean() || item.$invalid" class="btn btn-primary btn-mini btn-radius">+ Add this item</button> 
			<button class="btn btn-link" ng-click="state_close()">Close</button></p>
		</form>
	</div>
</div>
<div class="row">
	<div class="span7">
		<ul class="unstyled">
			<li ng-repeat="item in list.items | filter:true">
				<input type="checkbox" ng-model="item.done" ng-click="update_item()">
				<span class="done-{{item.done}}"><small>{{item.name}}</small></span>
			</li>
		</ul>
	</div>
</div>