<!DOCTYPE html>
<html>

<head>
    <title>Todo List - BackboneJS</title>
    <link type="text/css" rel="stylesheet" media="screen" href="css/bootstrap.css"/>
    <link type="text/css" rel="stylesheet" media="screen" href="css/todolist.css"/>
</head>

<body>
    
    <div class="container">
        <header>
            <div class="navbar">
                <div class="navbar-inner">
                    <div class="container">
                        <a class="brand" href="#">
                            Todo List - BackboneJS
                        </a>
                    </div>
                </div>
            </div>
        </header>
    
        <div id="content" class="container"></div>
    
        <footer class="container navbar navbar-fixed-top">
            <hr>
            <p><small>&copy; 2012. <a href="https://twitter.com/jandersonfc">@jandersonfc</a> none rights reserved. based in one old app the 37signals called tadalist</small></p>
        </footer>
    </div>

    <!-- TEMPLATES -->
    <script type="text/template" id="list">
        <div class="row">
            <center>
                <div class="well well-small well-radius span3" >
                    <h4>My Lists  <small><a href="#/lists/new">  create a new list</a></small></h4> 
                </div>
            </center>
        </div>
        <div>
             <h6><small>MY LISTS</small></h6>
             <hr>
             <ul id="lists" class="lists" >
                <% _.each(this.model.models, function (list) { %>
                    <li>
                        <h5>
                            <a href="#/lists/<%= list.get('id') %>/items"><%= list.get('name') %></a>
                            <small> - <%= list.get('open_items') %> left</small>
                        </h5>
                    </li>
                <% }); %>
             </ul>
        </div>
    </script>

    <script type="text/template" id="new-list">
        <div class="row">
            <center>
                <div class="well well-small well-radius span2" >
                    <h4><a href="#/">My Lists</a></h4>
                </div>
            </center>
        </div>

        <div class="row" >
            <form name="form-list" id="form-list" action="#">
                <div>
                    <label><h5>Name your new list <small>(Ex.:"Learn Backbonejs")</small></h5></label>
                    <input type="text" id="name" class="span5" required >
                </div>
                <div>
                    <button type="submit" class="btn btn-primary btn-mini btn-radius">Create this list</button> or 
                <a href="#/">Cancel</a>
                </div>
            </form>
        </div>
    </script>

    <script type="text/template" id="todo-item">
        <input type="checkbox" id="update" <%= done ? 'checked="checked"' : '' %>>
        <span class="done-<%= done %>"><%= name %></span>
    </script>

    <script type="text/template" id="new-item-close">
        <button class="btn btn-link open-new-state-item" >Add another item</button></p>
    </script>

    <script type="text/template" id="new-item-open">
        <form id="form-item">
            <input type="text" id="name" class="span5">
            <p><button id="create-item" type="submit" class="btn btn-primary btn-mini btn-radius">+ Add this item</button> 
            <button class="btn btn-link close-new-state-item" >Close</button></p>
        </form>
    </script>

    <script type="text/template" id="todo">
        <div class="row">
            <center>
                <div class="well well-small well-radius span3" >
                    <h4><a href="#/">My Lists</a> <small><b>this list:</b> <a href="#/lists/<%= list.id %>/edit">edit</a></small></h4>
                </div>
            </center>
        </div>

        <h4><%= list.name %></h4>

        <div class="row">
            <div class="span7">
                <ul class="unstyled" id="items-opened">
                    
                </ul>
            </div>
        </div>
        <div class="row" id="content-new-item" >
            
        </div>
        <div class="row">
            <div class="span7">
                <ul class="unstyled save" id="items-closed">
                      
                </ul>
            </div>
        </div>
    </script>

    <!-- LIBS -->
    <script src="js/lib/jquery-1.7.2.min.js"></script>
    <script src="js/lib/bootstrap.js"></script>
    <script src="js/lib/underscore.js"></script>
    <script src="js/lib/backbone.js"></script>
    
    <!-- MOCKS -->
    <script src="js/app/model/mock/localstorage-mock.js"></script>
    <script src="js/app/model/mock/list-mock.js"></script>
    <script src="js/app/model/mock/item-mock.js"></script> 
    
    <!-- MODELS 
    <script src="js/app/model/list-model.js"></script>
    <script src="js/app/model/item-model.js"></script> -->

    <!-- VIEWS -->
    <script src="js/app/view/list-view.js"></script>
    <script src="js/app/view/item-view.js"></script>

    <!-- APP | ROUTER -->
    <script src="js/app/todolist.js"></script>

</body>
</html>